.navbar{
    padding: 20px;
    background-color:silver;
    justify-content: end;
}

.search {
    display: flex;
    justify-content:center;
    padding: 20px 0;
}

.card {
    display: flex;
    justify-content: center;

}