.navbar{
    padding: 20px;
    background-color:silver;
    justify-content: center;
}

.search {
    display: flex;
    justify-content:end;
    padding: 20px 200px;
}

.card {
    display: flex;
    justify-content: end;
    padding: 20px 200px;
}

.error {
     display: flex;
    justify-content: end;
    padding: 20px 200px;
}